
    <h1>Orders</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card " *ngFor="let order of orderList">
                    <div class="card-body">
                        <h5 class="card-title">Order</h5>
                        <p class="card-text">Id : {{order.orderId}}</p>
                        <p class="card-text">Date : {{order.orderDate}}</p>
                        <p class="card-text">Total Quantity : {{order.totalQuantity}}</p>
                        <p class="card-text">Total Price : {{order.totalPrice}}</p>
                        <p class="card-text">Food Store ID : {{order.foodStoreId}}</p>
                        <p class="card-text">Employee ID : {{order.employeeId}}</p>
                        <a class="btn btn-primary" routerLink="/orderdetail/{{order.orderId}}">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

