<div class="col-25 container">
    <h1>Your Past Orders</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card " *ngFor="let order of (orderList.length ? orderList : null); let RowIndex = index">
                    <button class="btn btn-primary" data-toggle="collapse" attr.data-target="#{{RowIndex}}">
                        <div class="card-header">
                            <div class="row">

                                <div class="col-3">Order number: {{order.orderId}}</div>
                                <div class="col-3">Date: {{order.orderDate}}</div>
                                <div class="col-3">Total Quantity: {{order.totalQuantity}}</div>
                                <div class="col-3">Total Price: {{order.totalPrice}}</div>
                            </div>
                        </div>
                    </button>
                    <div id="{{RowIndex}}" class="collapse">
                        <app-order-detail [orderDetail]="order"></app-order-detail>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>