<div class="row">

    <div class="col-25">
      <div class="container">
        <h1>Order</h1>
      </div>
      <div class="container">
        <h4>Product
          <b class="qty">Quantity</b>
          <span class="price" style="color:black">
            <i class="fa fa-shopping-cart"></i>
            <b>Price</b>
          </span>
        </h4>
        <div *ngFor="let item of orderItemsList">
          <p>
            <a>{{item.foodItemId}}</a> <span class="qty">{{item.quantity}}</span> <span class="price">{{item.price}}</span>
          </p>
        </div>
        <hr>
        <p>Total <span class="price" style="color:black"><b>{{orderDetail.totalPrice}}</b></span></p>
      </div>
    </div>
  <a routerLink="/orderlist" class="btn btn-success">Back to Order List</a>
  </div>