<div class="row">

  <div class="col-25">
    <h1>Cart</h1>
    <div class="container">
      <h4>Product
        <b class="qty">Quantity</b>
        <span class="price" style="color:black">
          <i class="fa fa-shopping-cart"></i>
          <b>Price</b>
        </span>
      </h4>
      <form [formGroup]="updateForm" action="">

        <div *ngFor="let product of productList">
          <p>
            <a>{{product.foodItemName}}</a> <input formControlName="anyQuantity" class="qty" type="number" id="" value="{{product.quantity}}"> <span class="price">{{product.price}}</span>
            <button class="btn-danger" (click)="onDeleteFromCart(product.foodItemId)">Delete</button>
          </p>
        </div>
        <hr>
        <p>Total <span class="price" style="color:black"><b>{{cart.totalPrice}}</b></span></p>
        <button #saveCartButton disabled class="disabled bton" (click)="onSaveCart()">Save Cart</button>
        <button class="col-6" (click)="onSubmitOrder()" class="bton btn-success">Checkout</button>
      </form>
    </div>
  </div>

</div>