<div class="row">

  <div class="col-25">
    <div class="container">
      <h4>Product
        <b class="qty">Quantity</b>
        <span class="price" style="color:black">
          <i class="fa fa-shopping-cart"></i>
          <b>Price</b>
        </span>
      </h4>
      <p><a href="#">Product 1</a> <input class="qty" type="number" id="" value="1"> <span class="price">$15</span></p>
      <p><a href="#">Product 2</a> <input class="qty" type="number" id="" value="1"> <span class="price">$5</span></p>
      <p><a href="#">Product 3</a> <input class="qty" type="number" id="" value="1"> <span class="price">$8</span></p>
      <p><a href="#">Product 4</a> <input class="qty" type="number" id="" value="1"> <span class="price">$2</span></p>
      <hr>
      <p>Total <span class="price" style="color:black"><b>$30</b></span></p>
      <button class="btn btn-primary">Checkout</button>
    </div>
  </div>

</div>