<div class="my-3 mx-3">
    <div class="my-3 mx-3">
        <h1>Employee Management</h1>
        <a routerLink="add" class="btn btn-primary mx-5">Add</a>
    
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card " *ngFor="let employee of employees">
                        <div class="card-body">
                            <h5 class="card-title">{{employee.name}}</h5>
                            <p class="card-text">Employee Detail 1: {{employee.id}}</p>
                            <p class="card-text">sdf</p>
                            <p class="card-text">sfsdf</p>
                            <p class="card-text">sdfdsf</p>
                            <p class="card-text">sdfdf</p>
                            <a routerLink="update" class="btn btn-primary">Update</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
    