<html>

<head>
    <meta charset="UTF-8">
    <title>Search Food Item by Type</title>
</head>

<body class="zf-backgroundBg">
    <!-- Change or deletion of the name attributes in the input tag will lead to empty values on record submission-->
    <div class="zf-templateWidth">
        <div class="container">
            <div class="row">
                <div class="col-ls-4 col-md-4 col-sm-4">
               <div><button role="button" class="btn btn-outline-info btn-block" (click)="onSelectContinental()">Continental</button></div>
               <div><button role="button" class="btn btn-outline-warning btn-block" (click)="onSelectChinese()">Chinese</button></div>
               <div><button role="button" class="btn btn-outline-danger btn-block" (click)="onSelectFastFood()">Fast Food</button></div>
               <div><button role="button" class="btn btn-outline-primary btn-block" (click)="onSelectItalian()">Italian</button></div>
               <div><button role="button" class="btn btn-outline-success btn-block" (click)="onSelectMexican()">Mexican</button></div>
               <div><button role="button" class="btn btn-outline-warning btn-block" (click)="onSelectIndian()">Indian</button></div>
                </div>

                <div class="col-ls-8 col-md-8 col-sm-8">
                    <form [formGroup]="searchByTypeForm" (ngSubmit)="onSubmit()" accept-charset='UTF-8' enctype='multipart/form-data' id='form'>

                        <div class="zf-templateWrapper">
                            <!---------template Header Starts Here---------->
                            <ul class="zf-tempHeadBdr">
                                <li class="zf-tempHeadContBdr">
                                    <h2 class="zf-frmTitle"><em>Search Food Item by Type</em></h2>
                                    <p class="zf-frmDesc"></p>
                                    <div class="zf-clearBoth"></div>
                                </li>
                            </ul>
                            <!---------template Header Ends Here---------->
                            <!---------template Container Starts Here---------->
                            <div class="zf-subContWrap zf-topAlign">
                                <ul>
                                    <!---------Single Line Starts Here---------->
                                    <li class="zf-tempFrmWrapper zf-large">
                                        <label class="zf-labelName">Food Type</label>
                                        <div class="zf-tempContDiv">
                                            <span><input type="text" name="type" class="form-control" formControlName="foodType" 
                                                  /></span> 
                                    
                                            
                                                  <span class="help-block" *ngIf="searchByTypeForm.get('foodType')?.touched && 
                                                  searchByTypeForm.get('foodType')?.dirty && searchByTypeForm.get('foodType')?.invalid 
                                                  && searchByTypeForm.get('foodType')?.errors['required']">
                                                  Food Type is required</span>
              
                                                  <span class="help-block" *ngIf="searchByTypeForm.get('foodType')?.touched && 
                                                  searchByTypeForm.get('foodType')?.pristine && searchByTypeForm.get('foodType')?.invalid
                                                  && searchByTypeForm.get('foodType')?.errors['required']">
                                                  Food Type is required</span>
                                                  
                                                  <span class="help-block" *ngIf="searchByTypeForm.get('foodtype')?.touched && 
                                                  searchByTypeForm.get('foodtype')?.dirty && searchByTypeForm.get('foodtype')?.invalid 
                                                   && searchByTypeForm.get('foodtype')?.errors['maxLength']">
                                                  Food type can not exceed 255 characters</span>
                  
                                                  <span class="help-block" *ngIf="searchByTypeForm.get('foodType')?.touched && 
                                                  searchByTypeForm.get('foodType')?.dirty && searchByTypeForm.get('foodType')?.invalid 
                                                   && searchByTypeForm.get('foodType')?.errors['pattern']">
                                                  Food type must start with alphabet letter and can only consist of alphabetic letters and digits</span>
                                        </div>
                                    </li>
                                   
                                </ul>
                            </div>
                            <!---------template Container Starts Here---------->
                            <ul>
                                <li class="zf-fmFooter"><button type="submit" [disabled]="searchByTypeForm.invalid" class="btn btn-success btn-lg" >Search</button></li>
                            </ul>
                        </div><!-- 'zf-templateWrapper' ends -->
                    </form>
                </div>
            </div>
        </div>
       
    </div><!-- 'zf-templateWidth' ends -->
    
</body>

</html>