<html>
<head>
    <meta charset="UTF-8">
    <title>Customer Registration</title>
</head>

<body class="zf-backgroundBg">
    <!-- Change or deletion of the name attributes in the input tag will lead to empty values on record submission-->
    <div class="zf-templateWidth">
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()" accept-charset='UTF-8' enctype='multipart/form-data' id='form'>

            <div class="zf-templateWrapper">
                <!---------template Header Starts Here---------->
                <ul class="zf-tempHeadBdr">
                    <li class="zf-tempHeadContBdr">
                        <h2 class="zf-frmTitle"><em>Customer Registration</em></h2>
                        <p class="zf-frmDesc"></p>
                        <div class="zf-clearBoth"></div>
                    </li>
                </ul>
                <!---------template Header Ends Here---------->
                <!---------template Container Starts Here---------->
                <div class="zf-subContWrap zf-topAlign">
                    <ul>
                        <!---------Single Line Starts Here---------->
                        <li class="zf-tempFrmWrapper zf-large">
                            <label class="zf-labelName">Customer Name</label>
                            <div class="zf-tempContDiv">
                                <span><input type="text" name="name" class="form-control" formControlName="customerName" 
                                      /></span> 
                                <div *ngIf="addForm.get('customerName').touched && 
                                addForm.get('customerName').invalid &&
                                addForm.get('customerName').hasError('required')">
                                <span style= "color:red;">Name is required.</span>
                                </div>

                                <div *ngIf="addForm.get('customerName').touched && 
                                addForm.get('customerName').invalid &&
                                addForm.get('customerName').hasError('maxlength')">
                                <span style= "color:red;">Max 50 characters allowed.</span>
                                </div>

                                <div *ngIf="addForm.get('customerName').touched && 
                                addForm.get('customerName').invalid &&
                                addForm.get('customerName').hasError('pattern')">
                                <span style= "color:red;">Only alphabets allowed.</span>
                                </div>
                            </div>
                        </li>
                        <span ></span>
                        <!---------Single Line Ends Here---------->
                        <!---------Single Line Starts Here---------->
                        <li class="zf-tempFrmWrapper zf-large">
                            <label class="zf-labelName">Age</label>
                            <div class="zf-tempContDiv">
                                <span><input type="number" name="age" class="form-control" formControlName="age"
                                    /></span>
                                    
                                    <div *ngIf="addForm.get('age').touched && 
                                    addForm.get('age').invalid &&
                                    addForm.get('age').hasError('required')">
                                    <span style= "color:red;">Age is required.</span>
                                    </div>
    
                                    <div *ngIf="addForm.get('age').touched && 
                                    addForm.get('age').invalid &&
                                    addForm.get('age').hasError('min')">
                                    <span style= "color:red;">Minimum age should be 15.</span>
                                    </div>
    
                                    <div *ngIf="addForm.get('age').touched && 
                                    addForm.get('age').invalid &&
                                    addForm.get('age').hasError('max')">
                                    <span style= "color:red;">Maximum age should be 65.</span>
                                    </div>
                                    
                                    <div *ngIf="addForm.get('age').touched && 
                                    addForm.get('age').invalid &&
                                    addForm.get('age').hasError('pattern')">
                                    <span style= "color:red;">Only Numeric values allowed.</span>
                                    </div>
                         
                            </div>
                        </li>
                        <!---------Single Line Ends Here---------->
                        <!---------Decimal Starts Here---------->
                        <li class="zf-tempFrmWrapper zf-large">
                            <label class="zf-labelName">Password</label>
                            <div class="zf-tempContDiv">
                                <span> <input type="password" name="password" class="form-control" formControlName="password" 
                                   /></span>

                                   <div *ngIf="addForm.get('password').touched && 
                                   addForm.get('password').invalid &&
                                   addForm.get('password').hasError('required')">
                                   <span style= "color:red;">Password is required.</span>
                                   </div>

                                   <div *ngIf="addForm.get('password').touched && 
                                   addForm.get('password').invalid &&
                                   addForm.get('password').hasError('pattern')">
                                   <span style= "color:red;">Password must have 6-15 characters,
                                    one uppercase, one lowercase and one digit must be present.</span>
                                   </div>

                            </div>
                        </li>
						<!---------Single Line Ends Here---------->
                        <!---------Decimal Starts Here---------->
                        
						<li class="zf-tempFrmWrapper zf-large">
                            <label class="zf-labelName">Mobile No</label>
                            <div class="zf-tempContDiv">
                                <span> <input type="text" name="mobileNo" class="form-control" formControlName="mobileNo" 
                                   /></span>

                                   <div *ngIf="addForm.get('mobileNo').touched && 
                                   addForm.get('mobileNo').invalid &&
                                   addForm.get('mobileNo').hasError('required')">
                                   <span style= "color:red;">Mobile number is required.</span>
                                   </div>
                                   
                                   <div *ngIf="addForm.get('mobileNo').touched && 
                                   addForm.get('mobileNo').invalid &&
                                   addForm.get('mobileNo').hasError('pattern')">
                                   <span style= "color:red;">Please enter a valid 10 digit mobile number.</span>
                                   </div>
                                
                                  
                            </div>
                        </li>
						<!---------Single Line Ends Here---------->
                        <!---------Decimal Starts Here---------->
                        
						<li class="zf-tempFrmWrapper zf-large">
                            <label class="zf-labelName">Email</label>
                            <div class="zf-tempContDiv">
                                <span> <input type="text" name="email" class="form-control" formControlName="email" 
                                   /></span>

                                <div *ngIf="addForm.get('email').touched && 
                                addForm.get('email').invalid &&
                                addForm.get('email').hasError('required')">
                                <span style= "color:red;">Email is required.</span>
                                </div>

                                <div *ngIf="addForm.get('email').touched && 
                                addForm.get('email').invalid &&
                                addForm.get('email').hasError('minlength')">
                                <span style= "color:red;">Mininmum 5 characters required.</span>
                                </div>

                                <div *ngIf="addForm.get('email').touched && 
                                addForm.get('email').invalid &&
                                addForm.get('email').hasError('maxlength')">
                                <span style= "color:red;">Maximum 50 characters allowed.</span>
                                </div>

                                <div *ngIf="addForm.get('email').touched && 
                                addForm.get('email').invalid &&
                                addForm.get('email').hasError('pattern')">
                                <span style= "color:red;">Please enter a valid email id.</span>
                                </div>
                                
                            </div>
                        </li>
						
						<!---------Single Line Ends Here---------->
                        <!---------Decimal Starts Here---------->
                        
						<li class="zf-tempFrmWrapper zf-large">
                            <label class="zf-labelName">City</label>
                            <div class="zf-tempContDiv">
                                <span> <input type="text" name="city" class="form-control" formControlName="city" 
                                   /></span>

                                <div *ngIf="addForm.get('city').touched && 
                                addForm.get('city').invalid &&
                                addForm.get('city').hasError('required')">
                                <span style= "color:red;">City is required.</span>
                                </div>

                                <div *ngIf="addForm.get('city').touched && 
                                addForm.get('city').invalid &&
                                addForm.get('city').hasError('maxlength')">
                                <span style= "color:red;">Maximum 50 characters allowed.</span>
                                </div>

                                <div *ngIf="addForm.get('city').touched && 
                                addForm.get('city').invalid &&
                                addForm.get('city').hasError('pattern')">
                                <span style= "color:red;">Special Characters are not allowed.</span>
                                </div>

                            </div>
                        </li>

                        <!---------Decimal Ends Here---------->
                    </ul>
                </div>
                <!---------template Container Starts Here---------->
                <ul>
                    <li class="zf-fmFooter"><button type="submit" [disabled]="addForm.invalid" class="btn btn-success btn-lg" >ADD</button></li>
                    <li class="zf-fmFooter"><button routerLink="/home" type="submit" class="btn btn-success btn-lg">CANCEL</button>></li>
                </ul>
            </div><!-- 'zf-templateWrapper' ends -->
        </form>
    </div><!-- 'zf-templateWidth' ends -->
    
</body>

</html>