<div class="container-fluid">
    <div class="row">
       
        <div class="col" >
            <div *ngIf="currentRoute=='/searchbyfoodname'">
                <app-search-food-name (foodArray)="onGetFoodArray($event)"></app-search-food-name>
            </div>
            <div *ngIf="currentRoute=='/searchbyfoodtype'">
                <app-search-food-type (foodArray)="onGetFoodArray($event)"></app-search-food-type>
            </div>
            <div *ngIf="currentRoute=='/searchbyfoodpricerange'">
                <app-search-food-price (foodArray)="onGetFoodArray($event)"></app-search-food-price>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col" *ngIf="foodItems==null">
           <h1>There are no food items available at the moment related to your search </h1>>
        </div>
        <div class="col" *ngIf="foodItems!=null">
            <app-search-result  *ngFor="let item of foodItems" [foodItem]="item"></app-search-result>
        </div> 
    </div>
   
</div>