<html>
<head>
    <meta charset="UTF-8">
    <title>Update Customer</title>
</head>

<body class="zf-backgroundBg">
    <!-- Change or deletion of the name attributes in the input tag will lead to empty values on record submission-->
    <div class="zf-templateWidth">
        <form [formGroup]="updateForm" (ngSubmit)="onSubmit()" accept-charset='UTF-8' enctype='multipart/form-data' id='form'>

            <div class="zf-templateWrapper">
                <!---------template Header Starts Here---------->
                <ul class="zf-tempHeadBdr">
                    <li class="zf-tempHeadContBdr">
                        <h2 class="zf-frmTitle"><em>Update Customer</em></h2>
                        <p class="zf-frmDesc"></p>
                        <div class="zf-clearBoth"></div>
                    </li>
                </ul>
                <!---------template Header Ends Here---------->
                <!---------template Container Starts Here---------->
                <div class="zf-subContWrap zf-topAlign">
                    <ul>
                        <!---------Single Line Starts Here---------->
                        <li class="zf-tempFrmWrapper zf-large">
                            <label class="zf-labelName">Customer Name</label>
                            <div class="zf-tempContDiv">
                                <span><input type="text" name="id" class="form-control" formControlName="customerId" 
                                      /></span> 
                        
                                
                                <span class="help-block" *ngIf="updateForm.get('customerId').touched && 
                                updateForm.get('customerId').dirty && updateForm.get('customerId').invalid">
                                Customer ID can not be left blank</span>

                                <span class="help-block" *ngIf="updateForm.get('customerId').touched && 
                                updateForm.get('customerId').pristine && updateForm.get('customerId').errors['required']">
                                Customer ID is required</span>
                            </div>
                        </li>
                        <span ></span>
                        <!---------Single Line Ends Here---------->
                        <!---------Single Line Starts Here---------->
                        <li class="zf-tempFrmWrapper zf-large">
                            <label class="zf-labelName">Customer Name</label>
                            <div class="zf-tempContDiv">
                                <span><input type="text" name="name" class="form-control" formControlName="customerName" 
                                      /></span> 
                        
                                
                                <span class="help-block" *ngIf="updateForm.get('customerName').touched && 
                                updateForm.get('customerName').dirty && updateForm.get('customerName').invalid">
                                Customer name can not be left blank</span>

                                <span class="help-block" *ngIf="updateForm.get('customerName').touched && 
                                updateForm.get('customerName').pristine && updateForm.get('customerName').errors['required']">
                                Customer name is required</span>
                            </div>
                        </li>
                        <span ></span>
                        <!---------Single Line Ends Here---------->
                        <!---------Single Line Starts Here---------->
                        <li class="zf-tempFrmWrapper zf-large">
                            <label class="zf-labelName">Age</label>
                            <div class="zf-tempContDiv">
                                <span><input type="number" name="age" class="form-control" formControlName="age"
                                    /></span>
                                    <span class="help-block" *ngIf="updateForm.get('age').touched && 
                                    updateForm.get('age').dirty && updateForm.get('age').invalid">
                                    Age is required</span>

                                    <span class="help-block" *ngIf="updateForm.get('age').touched && 
                                    updateForm.get('age').pristine && updateForm.get('age').invalid">
                                    Age is required</span>
									
									<span class="help-block" *ngIf="updateForm.get('age').touched && 
                                   updateForm.get('age').dirty && updateForm.get('age').invalid && 
                                   updateForm.get('age').errors['min']">
                                   Age can not be negative or zero</span>
                         
                            </div>
                        </li>
                        <!---------Single Line Ends Here---------->
                        <!---------Decimal Starts Here---------->
                        <li class="zf-tempFrmWrapper zf-large">
                            <label class="zf-labelName">Password</label>
                            <div class="zf-tempContDiv">
                                <span> <input type="text" name="password" class="form-control" formControlName="password" 
                                   /></span>

                                   <span class="help-block" *ngIf="updateForm.get('password').touched && 
                                   updateForm.get('password').dirty &&  updateForm.get('password').invalid" >
                                   Password is required</span>

                                   <span class="help-block" *ngIf="updateForm.get('password').touched && 
                                   updateForm.get('password').pristine &&  updateForm.get('password').invalid ">
                                   Password is required</span>
                                  
                            </div>
                        </li>
						<!---------Single Line Ends Here---------->
                        <!---------Decimal Starts Here---------->
                        
						<li class="zf-tempFrmWrapper zf-large">
                            <label class="zf-labelName">Mobile No</label>
                            <div class="zf-tempContDiv">
                                <span> <input type="text" name="mobileNo" class="form-control" formControlName="mobileNo" 
                                   /></span>

                                   <span class="help-block" *ngIf="updateForm.get('mobileNo').touched && 
                                   updateForm.get('mobileNo').dirty &&  updateForm.get('mobileNo').invalid" >
                                   Mobile Number is required</span>

                                   <span class="help-block" *ngIf="updateForm.get('mobileNo').touched && 
                                   updateForm.get('mobileNo').pristine &&  updateForm.get('mobileNo').invalid ">
                                   Mobile Number is required</span>
                                  
                            </div>
                        </li>
						<!---------Single Line Ends Here---------->
                        <!---------Decimal Starts Here---------->
                        
						<li class="zf-tempFrmWrapper zf-large">
                            <label class="zf-labelName">Email</label>
                            <div class="zf-tempContDiv">
                                <span> <input type="text" name="email" class="form-control" formControlName="email" 
                                   /></span>

                                   <span class="help-block" *ngIf="updateForm.get('email').touched && 
                                   updateForm.get('email').dirty &&  updateForm.get('email').invalid" >
                                   Email is required</span>

                                   <span class="help-block" *ngIf="updateForm.get('email').touched && 
                                   updateForm.get('email').pristine &&  updateForm.get('email').invalid ">
                                   Email is required</span>
                                  
                            </div>
                        </li>
						
						<!---------Single Line Ends Here---------->
                        <!---------Decimal Starts Here---------->
                        
						<li class="zf-tempFrmWrapper zf-large">
                            <label class="zf-labelName">City</label>
                            <div class="zf-tempContDiv">
                                <span> <input type="text" name="city" class="form-control" formControlName="city" 
                                   /></span>

                                   <span class="help-block" *ngIf="updateForm.get('city').touched && 
                                   updateForm.get('city').dirty &&  updateForm.get('city').invalid" >
                                   City is required</span>

                                   <span class="help-block" *ngIf="updateForm.get('city').touched && 
                                   updateForm.get('city').pristine &&  updateForm.get('city').invalid ">
                                   City is required</span>
                                  
                            </div>
                        </li>

                        <!---------Decimal Ends Here---------->
                    </ul>
                </div>
                <!---------template Container Starts Here---------->
                <ul>
                    <li class="zf-fmFooter"><button type="submit" [disabled]="updateForm.invalid" class="btn btn-success btn-lg" >UPDATE</button></li>
                </ul>
            </div><!-- 'zf-templateWrapper' ends -->
        </form>
    </div><!-- 'zf-templateWidth' ends -->
    
</body>

</html>