<html>

<head>
    <meta charset="UTF-8">
    <title>Update Food Store</title>
</head>

<body class="zf-backgroundBg">
    <!-- Change or deletion of the name attributes in the input tag will lead to empty values on record submission-->
    <div class="zf-templateWidth">
        <form [formGroup]="updateForm" (ngSubmit)="onSubmit()" accept-charset='UTF-8' enctype='multipart/form-data' id='form'>

            <div class="zf-templateWrapper">
                <!---------template Header Starts Here---------->
                <ul class="zf-tempHeadBdr">
                    <li class="zf-tempHeadContBdr">
                        <h2 class="zf-frmTitle"><em>Update Food Store</em></h2>
                        <p class="zf-frmDesc"></p>
                        <div class="zf-clearBoth"></div>
                    </li>
                </ul>
      
                              <li class="zf-tempFrmWrapper zf-large">
                            <label class="zf-labelName">Food Store ID</label>
                            <div class="zf-tempContDiv">
                                <span> <input type="text" name="foodStoreId" class="form-control" formControlName="foodStoreId" 
                                   /></span>

                                   <span class="help-block" *ngIf="updateForm.get('foodStoreId').touched && 
                                   updateForm.get('foodStoreId').dirty &&  updateForm.get('foodStoreId').invalid" >
                                   Food Store Id is required</span>

                                   <span class="help-block" *ngIf="updateForm.get('foodStoreId').touched && 
                                   updateForm.get('foodStoreId').pristine &&  updateForm.get('foodStoreId').invalid ">
                                   
                                    Food Store Id is required</span>

                                   <span class="help-block" *ngIf="updateForm.get('foodStoreId').touched && 
                                   updateForm.get('foodStoreId').dirty && updateForm.get('foodStoreId').invalid && 
                                   updateForm.get('foodStoreId').errors['min']">
                                   Food Store Id can not be null</span>
                            </div>
                        </li>



                <!---------template Container Starts Here---------->
                <div class="zf-subContWrap zf-topAlign">
                    <ul>
                        <!---------Single Line Starts Here---------->
                        <li class="zf-tempFrmWrapper zf-large">
                            <label class="zf-labelName">Food Store Name</label>
                            <div class="zf-tempContDiv">
                                <span><input type="text" name="name" class="form-control" formControlName="foodStoreName" 
                                      /></span> 
                        
                                
                                <span class="help-block" *ngIf="updateForm.get('foodStoreName').touched && 
                                updateForm.get('foodStoreName').dirty && updateForm.get('foodStoreName').invalid">
                                Food Store name can not be left blank</span>

                                <span class="help-block" *ngIf="updateForm.get('foodStoreName').touched && 
                                updateForm.get('foodStoreName').pristine && updateForm.get('foodStoreName').errors['required']">
                                Food Store name is required</span>
                            </div>
                        </li>
                        <span ></span>
                        <!---------Single Line Ends Here---------->
                        <!---------Single Line Starts Here---------->
                        <li class="zf-tempFrmWrapper zf-large">
                            <label class="zf-labelName">Location</label>
                            <div class="zf-tempContDiv">
                                <span><input type="text" name="location" class="form-control" formControlName="location"
                                    /></span>
                                    <span class="help-block" *ngIf="updateForm.get('location').touched && 
                                    updateForm.get('location').dirty && updateForm.get('location').invalid">
                                    Location is required</span>

                                    <span class="help-block" *ngIf="updateForm.get('location').touched && 
                                    updateForm.get('location').pristine && updateForm.get('location').invalid">
                                    Location is required</span>
                         
                            </div>
                        </li>
                        <!---------Single Line Ends Here---------->

                                <!---------Decimal Starts Here---------->
                        <li class="zf-tempFrmWrapper zf-large">
                            <label class="zf-labelName">Mobile Number</label>
                            <div class="zf-tempContDiv">
                                <span> <input type="text" name="mobileno" class="form-control" formControlName="mobileno" 
                                   /></span>

                                   <span class="help-block" *ngIf="updateForm.get('mobileno').touched && 
                                   updateForm.get('mobileno').dirty &&  updateForm.get('mobileno').invalid" >
                                   Mobile Number is required</span>

                                   <span class="help-block" *ngIf="updateForm.get('mobileno').touched && 
                                   updateForm.get('mobileno').pristine &&  updateForm.get('mobileno').invalid ">
                                   
                                    Mobile Number is required</span>

                                   <span class="help-block" *ngIf="updateForm.get('mobileno').touched && 
                                   updateForm.get('mobileno').dirty && updateForm.get('mobileno').invalid && 
                                   updateForm.get('mobileno').errors['min']">
                                   Rating can not be negative or zero</span>
                            </div>
                        </li>


                                  <!---------Single Line Starts Here---------->
                        <li class="zf-tempFrmWrapper zf-large">
                            <label class="zf-labelName">Email</label>
                            <div class="zf-tempContDiv">
                                <span><input type="text" name="name" class="form-control" formControlName="email" 
                                      /></span> 
                        
                                
                                <span class="help-block" *ngIf="updateForm.get('email').touched && 
                                updateForm.get('email').dirty && updateForm.get('email').invalid">
                                Email ID is required</span>

                                <span class="help-block" *ngIf="updateForm.get('email').touched && 
                                updateForm.get('email').pristine && updateForm.get('email').errors['required']">
                                Email ID is required</span>
                            </div>
                        </li>
                        <span ></span>
                        <!---------Single Line Ends Here---------->
                        <!---------Decimal Starts Here---------->
                        <li class="zf-tempFrmWrapper zf-large">
                            <label class="zf-labelName">Rating</label>
                            <div class="zf-tempContDiv">
                                <span> <input type="text" name="rating" class="form-control" formControlName="rating" 
                                   /></span>

                                   <span class="help-block" *ngIf="updateForm.get('rating').touched && 
                                   updateForm.get('rating').dirty &&  updateForm.get('rating').invalid" >
                                   Rating is required</span>

                                   <span class="help-block" *ngIf="updateForm.get('rating').touched && 
                                   updateForm.get('rating').pristine &&  updateForm.get('rating').invalid ">
                                   
                                    Rating is required</span>

                                   <span class="help-block" *ngIf="updateForm.get('rating').touched && 
                                   updateForm.get('rating').dirty && updateForm.get('rating').invalid && 
                                   updateForm.get('rating').errors['min']">
                                   Rating can not be negative or zero</span>
                            </div>
                        </li>

                     








 
                    </ul>
                </div>
                <!---------template Container Starts Here---------->
                <ul>
                    <li class="zf-fmFooter"><button type="submit" [disabled]="updateForm.invalid" class="btn btn-success btn-lg" >ADD</button></li>
                </ul>
            </div><!-- 'zf-templateWrapper' ends -->
        </form>
    </div><!-- 'zf-templateWidth' ends -->
    
</body>

</html>