<html>

<head>
    <meta charset="UTF-8">
    <title>Add Food Item</title>
</head>

<body class="zf-backgroundBg">
    <!-- Change or deletion of the name attributes in the input tag will lead to empty values on record submission-->
    <div class="zf-templateWidth">
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()" accept-charset='UTF-8' enctype='multipart/form-data' id='form'>

            <div class="zf-templateWrapper">
                <!---------template Header Starts Here---------->
                <ul class="zf-tempHeadBdr">
                    <li class="zf-tempHeadContBdr">
                        <h2 class="zf-frmTitle"><em>Add Food Item</em></h2>
                        <p class="zf-frmDesc"></p>
                        <div class="zf-clearBoth"></div>
                    </li>
                </ul>
                <!---------template Header Ends Here---------->
                <!---------template Container Starts Here---------->
                <div class="zf-subContWrap zf-topAlign">
                    <ul>
                        <!---------Single Line Starts Here---------->
                        <li class="zf-tempFrmWrapper zf-large">
                            <label class="zf-labelName">Food Name</label>
                            <div class="zf-tempContDiv">
                                <span><input type="text" name="name" class="form-control" formControlName="foodName" 
                                      /></span> 
                        
                                
                                <span class="help-block" *ngIf="addForm.get('foodName').touched && 
                                addForm.get('foodName').dirty && addForm.get('foodName').invalid">
                                Food name can not be left blank</span>

                                <span class="help-block" *ngIf="addForm.get('foodName').touched && 
                                addForm.get('foodName').pristine && addForm.get('foodName').errors['required']">
                                Food name is required</span>
                            </div>
                        </li>
                        <span ></span>
                        <!---------Single Line Ends Here---------->
                        <!---------Single Line Starts Here---------->
                        <li class="zf-tempFrmWrapper zf-large">
                            <label class="zf-labelName">Food Type</label>
                            <div class="zf-tempContDiv">
                                <span><input type="text" name="type" class="form-control" formControlName="foodType"
                                    /></span>
                                    <span class="help-block" *ngIf="addForm.get('foodType').touched && 
                                    addForm.get('foodType').dirty && addForm.get('foodType').invalid">
                                    Food Type is required</span>

                                    <span class="help-block" *ngIf="addForm.get('foodType').touched && 
                                    addForm.get('foodType').pristine && addForm.get('foodType').invalid">
                                    Food Type is required</span>
                         
                            </div>
                        </li>
                        <!---------Single Line Ends Here---------->
                        <!---------Decimal Starts Here---------->
                        <li class="zf-tempFrmWrapper zf-large">
                            <label class="zf-labelName">Price</label>
                            <div class="zf-tempContDiv">
                                <span> <input type="text" name="price" class="form-control" formControlName="foodPrice" 
                                   /></span>

                                   <span class="help-block" *ngIf="addForm.get('foodPrice').touched && 
                                   addForm.get('foodPrice').dirty &&  addForm.get('foodPrice').invalid" >
                                   Food Price is required</span>

                                   <span class="help-block" *ngIf="addForm.get('foodPrice').touched && 
                                   addForm.get('foodPrice').pristine &&  addForm.get('foodPrice').invalid ">
                                   Food Price is required</span>

                                   <span class="help-block" *ngIf="addForm.get('foodPrice').touched && 
                                   addForm.get('foodPrice').dirty && addForm.get('foodPrice').invalid && 
                                   addForm.get('foodPrice').errors['min']">
                                   Food Price can not be negative or zero</span>
                            </div>
                        </li>

                        <li class="zf-tempFrmWrapper zf-large">
                            <label class="zf-labelName">Food Item's Image Path</label>
                            <div class="zf-tempContDiv">
                                <span> <input type="text" name="image" class="form-control" formControlName="imagePath"  
                                  /></span>
                                  <span class="help-block" *ngIf="addForm.get('imagePath').touched && 
                                  addForm.get('imagePath').dirty && addForm.get('imagePath').invalid">
                                  Image Path is required</span>

                                  <span class="help-block" *ngIf="addForm.get('imagePath').touched && 
                                  addForm.get('imagePath').pristine && addForm.get('imagePath').invalid">
                                  Image Path is required</span>

                                  <span class="help-block" *ngIf="addForm.get('imagePath').touched && 
                                  addForm.get('imagePath').dirty && addForm.get('imagePath').invalid" >
                                  Image Path can be of maximum 2000 characters</span>
                                
                            </div>
                        </li>
                        <!---------Decimal Ends Here---------->
                    </ul>
                </div>
                <!---------template Container Starts Here---------->
                <ul>
                    <li class="zf-fmFooter"><button type="submit" [disabled]="addForm.invalid" class="btn btn-success btn-lg" >ADD</button></li>
                </ul>
            </div><!-- 'zf-templateWrapper' ends -->
        </form>
    </div><!-- 'zf-templateWidth' ends -->
    
</body>

</html>



<!--
    *ngIf="addForm.get('foodName').touched && 
                                       addForm.get('foodName').pristine && addForm.get('foodName').invalid " 


 *ngIf="addForm.get('foodType').touched && 
                                    addForm.get('foodType').pristine && addForm.get('foodType').invalid  "


 *ngIf="addForm.get('foodPrice').touched && 
                                    addForm.get('foodPrice').pristine && addForm.get('foodPrice').invalid  "

  *ngIf="addForm.get('imagePath').touched && 
                                    addForm.get('imagePath').pristine && addForm.get('imagePath').invalid "
-->