<h1>Customer Management</h1>
    <a routerLink="add" class="btn btn-primary mx-5">Add</a>
    
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card " *ngFor="let customer of customer">
                        <div class="card-body">
                            <h5 class="card-title">{{customer.name}}</h5>
                            <p class="card-text">Id:{{customer.id}}</p>
                            <p class="card-text">{{customer.email}}</p>
                            <p class="card-text">{{customer.mobileNo}}</p>
                            <a routerLink="update" class="btn btn-primary">Update</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<router-outlet></router-outlet>        