<html>

<head>
    <meta charset="UTF-8">
    <title>Update Employee</title>
</head>

<body class="zf-backgroundBg">
    <!-- Change or deletion of the name attributes in the input tag will lead to empty values on record submission-->
    <div class="zf-templateWidth">
        <form [formGroup]="updateForm" accept-charset='UTF-8' enctype='multipart/form-data' id='form'>

            <div class="zf-templateWrapper">
                <!---------template Header Starts Here---------->
                <ul class="zf-tempHeadBdr">
                    <li class="zf-tempHeadContBdr">
                        <h2 class="zf-frmTitle"><em>Update Employee</em></h2>
                        <p class="zf-frmDesc">Enter the updated details of the Employee.</p>
                        <div class="zf-clearBoth"></div>
                    </li>
                </ul>
                <!---------template Header Ends Here---------->
                <!---------template Container Starts Here---------->
                <div class="zf-subContWrap zf-topAlign">
                    <ul>
			            <!---------Number Starts Here---------->
                        <li class="zf-tempFrmWrapper zf-large">
                            <label class="zf-labelName">Employee Id</label>
                            <div class="zf-tempContDiv">
                                <span> <input type="text" name="employee_id" class="form-control" formControlName="employeeId" 
                                   /></span>

                                   <span class="help-block" *ngIf="updateForm.get('employeeId').touched && 
                                   updateForm.get('employeeId').dirty &&  updateForm.get('employeeId').invalid"  >
                                   Employee Id is required</span>

                                   <span class="help-block" *ngIf="updateForm.get('employeeId').touched && 
                                   updateForm.get('employeeId').pristine &&  updateForm.get('employeeId').invalid ">
                                   Employee Id is required</span>

                                   <span class="help-block" *ngIf="updateForm.get('employeeId').touched && 
                                   updateForm.get('employeeId').dirty && updateForm.get('employeeId').invalid && 
                                   updateForm.get('employeeId').errors['min']">
                                   Employee Id can not be negative or zero</span>
                            </div>
                        </li>
			            <!---------Number Ends Here---------->
                        <!---------Single Line Starts Here---------->
                        <li class="zf-tempFrmWrapper zf-large">
                            <label class="zf-labelName">Employee Name</label>
                            <div class="zf-tempContDiv">
                                <span><input type="text" name="name" class="form-control" formControlName="employeeName" 
                                      /></span> 
                        
                                
                                <span class="help-block" *ngIf="updateForm.get('employeeName').touched && 
                                updateForm.get('employeeName').dirty && updateForm.get('employeeName').invalid">
                                Employee name can not be left blank</span>

                                <span class="help-block" *ngIf="updateForm.get('employeeName').touched && 
                                updateForm.get('employeeName').pristine && updateForm.get('employeeName').errors['required']">
                                Employee name is required</span>
                            </div>
                        </li>
                        <span ></span>
                        <!---------Single Line Ends Here---------->
			            <!---------Number Starts Here---------->
                        <li class="zf-tempFrmWrapper zf-large">
                            <label class="zf-labelName">Age</label>
                            <div class="zf-tempContDiv">
                                <span> <input type="text" name="age" class="form-control" formControlName="employeeAge" 
                                   /></span>

                                   <span class="help-block" *ngIf="updateForm.get('employeeAge').touched && 
                                   updateForm.get('employeeAge').dirty &&  updateForm.get('employeeAge').invalid"  >
                                   Age is required</span>

                                   <span class="help-block" *ngIf="updateForm.get('employeeAge').touched && 
                                   updateForm.get('employeeAge').pristine &&  updateForm.get('employeeAge').invalid ">
                                   Age is required</span>

                                   <span class="help-block" *ngIf="updateForm.get('employeeAge').touched && 
                                   updateForm.get('employeeAge').dirty && updateForm.get('employeeAge').invalid && 
                                   updateForm.get('employeeAge').errors['min']">
                                   Age can not be negative or zero</span>
                            </div>
                        </li>
			            <!---------Number Ends Here---------->
                        <!---------Single Line Starts Here---------->
                        <li class="zf-tempFrmWrapper zf-large">
                            <label class="zf-labelName">Password</label>
                            <div class="zf-tempContDiv">
                                <span><input type="text" name="pass" class="form-control" formControlName="password"
                                    /></span>
                                    <span class="help-block" *ngIf="updateForm.get('password').touched && 
                                    updateForm.get('password').dirty && updateForm.get('password').invalid">
                                    Password is required</span>

                                    <span class="help-block" *ngIf="updateForm.get('password').touched && 
                                    updateForm.get('password').pristine && updateForm.get('password').invalid">
                                    Password is required</span>
                         
                            </div>
                        </li>
                        <!---------Single Line Ends Here---------->
			            <!---------Number Starts Here---------->
                        <li class="zf-tempFrmWrapper zf-large">
                            <label class="zf-labelName">Mobile Number</label>
                            <div class="zf-tempContDiv">
                                <span> <input type="text" name="mobile_number" class="form-control" formControlName="mobileNumber" 
                                   /></span>

                                   <span class="help-block" *ngIf="updateForm.get('mobileNumber').touched && 
                                   updateForm.get('mobileNumber').dirty &&  updateForm.get('mobileNumber').invalid" >
                                   Mobile Number is required</span>

                                   <span class="help-block" *ngIf="updateForm.get('mobileNumber').touched && 
                                   updateForm.get('mobileNumber').pristine &&  updateForm.get('mobileNumber').invalid ">
                                   Mobile Number is required</span>

                                   <span class="help-block" *ngIf="updateForm.get('mobileNumber').touched && 
                                   updateForm.get('mobileNumber').dirty && updateForm.get('mobileNumber').invalid && 
                                   updateForm.get('mobileNumber').errors['min']">
                                   Mobile Number can not be negative or zero</span>
                            </div>
                        </li>
			            <!---------Number Ends Here---------->
                        <!---------Single Line Starts Here---------->
                        <li class="zf-tempFrmWrapper zf-large">
                            <label class="zf-labelName">Email</label>
                            <div class="zf-tempContDiv">
                                <span><input type="text" name="email1" class="form-control" formControlName="email"
                                    /></span>
                                    <span class="help-block" *ngIf="updateForm.get('email').touched && 
                                    updateForm.get('email').dirty && updateForm.get('email').invalid">
                                    Email is required</span>

                                    <span class="help-block" *ngIf="updateForm.get('email').touched && 
                                    updateForm.get('email').pristine && updateForm.get('email').invalid">
                                    Email is required</span>
                         
                            </div>
                        </li>
                        <!---------Single Line Ends Here---------->
                        <!---------Single Line Starts Here---------->
                        <li class="zf-tempFrmWrapper zf-large">
                            <label class="zf-labelName">City</label>
                            <div class="zf-tempContDiv">
                                <span><input type="text" name="city1" class="form-control" formControlName="city"
                                    /></span>
                                    <span class="help-block" *ngIf="updateForm.get('city').touched && 
                                    updateForm.get('city').dirty && updateForm.get('city').invalid">
                                    City is required</span>

                                    <span class="help-block" *ngIf="updateForm.get('city').touched && 
                                    updateForm.get('city').pristine && updateForm.get('city').invalid">
                                    City is required</span>
                         
                            </div>
                        </li>
                        <!---------Single Line Ends Here---------->
                        
                    </ul>
                </div>
                <!---------template Container Starts Here---------->
                <ul>
                    <li class="zf-fmFooter"><button type="submit" [disabled]="updateForm.invalid" class="btn btn-success btn-lg" >ADD</button></li>
                </ul>
            </div><!-- 'zf-templateWrapper' ends -->
        </form>
    </div><!-- 'zf-templateWidth' ends -->
    
</body>

</html>


